body{background-color: gainsboro;}

h1{text-align: center;
    letter-spacing: 10px;}

h3{background-color: grey;

    padding: 0 auto;
    color: honeydew;}

main{width: 90%;
    margin: 0 auto;}

img{float: left;}

p{margin-left: 100px;}
.contenedor{width: 80%;
        margin: 0 auto;
        text-align: justify;
        text-indent: 20px;}