body {margin: 0;
    padding: 0;
    font-family: 'EB Garamond', serif;}

.menu{background-color: rgb(51, 183, 235);
height: 50px;}

.menu ul{width: 600px;
    margin: 0 auto;
    text-align: center;}

.menu .elemento{display: inline;
                margin: 0 20px;}

.elemento a{color: cornsilk;
    font-size: 20px;
    text-decoration: none;
    line-height: 50px;}

.elemento a:hover{background-color: gray;}